body {
    margin: 0;
    background-color: rgb(129, 155, 176);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

form {
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


input {
    margin: 5px;
    width: 230px;
    padding: 5px 10px;
    border-radius: 4px;
    border-style: double;
}

button {
    padding: 5px;
    margin: 5px;
    border-style: 0.5px;
    border-radius: 5px;
    background-color: rgb(163, 202, 85);
    color: black;
    font-size: 16px;
}